.DS_Store
*.zip
*.pdf
*.txt
lib/
token.mat
ex*
submit.m
mapFeature.m
plotDecisionBoundary.m
displayData.m
fmincg.m
sigmoid.m
Assignment 4/checkNNGradients.m
Assignment 4/computeNumericalGradient.m
Assignment 4/debugInitializeWeights.m
Assignment 4/predict.m
Assignment 5/featureNormalize.m
Assignment 5/plotFit.m
Assignment 5/trainLinearReg.m
