.DS_Store
*.zip
*.pdf
*.txt
*.png
lib/
*.mat
ex*
submit.m
mapFeature.m
plotDecisionBoundary.m
displayData.m
fmincg.m
sigmoid.m
Assignment 4/checkNNGradients.m
Assignment 4/computeNumericalGradient.m
Assignment 4/debugInitializeWeights.m
Assignment 4/predict.m
Assignment 5/featureNormalize.m
Assignment 5/plotFit.m
Assignment 5/trainLinearReg.m
Assignment 6/svmTrain.m
Assignment 6/svmPredict.m
Assignment 6/plotData.m
Assignment 6/visualizeBoundaryLinear.m
Assignment 6/visualizeBoundary.m
Assignment 6/linearKernel.m
Assignment 6/getVocabList.m
Assignment 6/porterStemmer.m
Assignment 6/readFile.m
Assignment 7/drawLine.m
Assignment 7/plotDataPoints.m
Assignment 7/plotProgresskMeans.m
Assignment 7/runkMeans.m
Assignment 7/featureNormalize.m
Assignment 8/multivariateGaussian.m
Assignment 8/visualizeFit.m
Assignment 8/checkCostFunction.m
Assignment 8/computeNumericalGradient.m
Assignment 8/loadMovieList.m
Assignment 8/normalizeRatings.m
